* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.6;
  background-color: #FBF8DD;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding: 20px;
  background-color: #A34343;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  transition: width 0.5s;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar.collapsed .sidebar-brand-text {
  display: none;
}

.sidebar.collapsed .nav-item span {
  display: none;
}

.sidebar.closed {
  width: 60px;
  overflow-x: hidden;
}

#sidebarToggle {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sidebar.closed #sidebarToggle {
  transform: rotate(180deg);
}

.sidebar-brand img {
  vertical-align: middle;
}

.sidebar-brand-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
  color: #fff;
}

.navbar-nav {
  margin-top: 20px;
  margin-left: 10px;
  list-style-type: none;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-item a {
  text-decoration: none;
  font-weight: bold;
}

.nav-item.active a {
  color: #3D0C11;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #3D0C11;
}

/* Content */
#content-wrapper {
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.5s;
}

#content-wrapper.closed {
  margin-left: 60px;
}

#content-wrapper.collapsed {
  margin-left: 80px;
}

/* Cards */
.card,
.card-team {
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card-body {
  padding: 20px;
}

.card-team {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-team img {
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Tables */
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #e3e6f0;
}

.table th,
.table td {
  padding: 12px;
  border-bottom: 1px solid #e3e6f0;
}

.table th {
  background-color: #818181;
}

.table-responsive tbody tr:nth-of-type(odd) {
  overflow-y: auto;
  background-color: #f3f4f6;
}

/* Sticky Footer */
.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #E9C874;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
}

.row.mb-3 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-4,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-8 {
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .col-sm-8 {
    flex: 0 0 auto;
    width: 70%;
    max-width: 70%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 30%;
    max-width: 30%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 33.3%;
    max-width: 33.3%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .col-md-4,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-8 {
    width: 100%;
    max-width: 100%;
  }
}

.font-weight-bold {
  font-weight: bold;
  font-size: large;
}

.font-weight {
  font-size: large;
}

.text-xs {
  font-size: small;
}

.col-auto {
  margin-left: 0.75rem;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .page-item {
  list-style: none;
  margin: 0 2px;
}

.pagination .page-item .page-link {
  color: #fff;
  background-color: #4a69bd;
  border: 1px solid #fff;
  margin: 0 2px;
  padding: 6px 12px;
  text-decoration: none;
}

.pagination .page-item .page-link:hover {
  background-color: #002280;
  border-color: #002280;
}

.pagination .page-item.active .page-link {
  background-color: #002280;
  border-color: #002280;
}

.pagination .page-item.disabled .page-link {
  pointer-events: none;
  color: #6c757d;
}

.card img {
  max-width: 100%;
  height: auto;
}

/* Button */
.btn {
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  vertical-align: middle;
  margin-left: 1.3rem;
}

.btn:hover {
  background-color: #5a6be8;
}

/* Search */
#searchInput {
  width: 25%;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#searchInput:focus {
  outline: 0;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
